{% extends 'index.html' %} {% block title %}Embed Message{% endblock %} {%block
content %}
<script>
  function previewImage(input) {
    const preview = document.getElementById("image-preview");
    const placeholder = document.getElementById("placeholder");

    const file = input.files[0];

    if (file) {
      preview.src = URL.createObjectURL(file);
      preview.classList.remove("hidden");
      placeholder.classList.add("hidden");
    } else {
      preview.src = "";
      preview.classList.add("hidden");
      placeholder.classList.remove("hidden");
    }
  }
</script>
<div class="center-container mt-32">
  <div
    class="container mx-auto p-9 bg-white rounded-md shadow-md border border-slate-200"
  >
    <div class="flex justify-center items-center mx-auto mb-4">
      <a
        href="./embed"
        class="rounded-l-md bg-blue-800 w-48 h-12 px-3.5 py-2.5 text-md font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-center"
      >
        Embed
      </a>
      <a
        href="./extract"
        class="rounded-r-md bg-blue-900 w-48 h-12 px-3.5 py-2.5 text-md font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-center"
      >
        Extract
      </a>
    </div>
    <h1 class="text-2xl font-bold mb-4 text-center">Embed Message</h1>
    <div class="flex items-center justify-center h-auto w-auto">
      <input
        type="file"
        id="image-input"
        class="hidden"
        onchange="previewImage(this)"
      />
      <img
        id="image-preview"
        class="hidden"
        style="max-width: 30%; max-height: 30%; margin-top: 10px"
      />
      <div
        id="placeholder"
        class="flex items-center justify-center h-64 w-64 rounded-lg border border-gray-300 bg-gray-50 placeholder-gray-400"
      >
        <h3 class="text-gray-500 text-center">Insert Image</h3>
      </div>
    </div>
    <form
      id="embed-form"
      action="/embed"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="image-input" class="block text-gray-700 font-bold mb-2">
        Cover Image:
      </label>
      <input
        type="file"
        id="file"
        name="file"
        class="w-full p-1 border border-gray-200 rounded-md"
        accept="image/*"
        onchange="previewImage(this)"
      />
      <div class="flex flex-col mb-4">
        <label for="message-input" class="block text-gray-700 font-bold mb-2">
          Secret Message:
        </label>
        <div class="textarea-container" style="position: relative">
          <input
            type="file"
            id="message"
            name="message"
            class="w-full p-1 border border-gray-200 rounded-md"
            accept=".txt"
          />
          <p
            id="character-count"
            style="position: absolute; bottom: 5px; right: 10px"
            class="text-sm text-gray-500 mt-1"
          ></p>
        </div>
      </div>
      <button
        class="justify-center rounded-md bg-blue-900 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Embed Message
      </button>

      {% if errors %}
      <div
        class="bg-yellow-100 border-m-4 border-yellow-500 text-yellow-700 p-3 mt-4"
        role="alert"
      >
        <p class="font-bold">Error</p>
        <p>{{ errors }}</p>
      </div>
      {% endif %} {% if image %}
      <div class="flex flex-col mb-4">
        <label for="stego-image" class="block text-gray-700 font-bold mb-2"
          >Stego Image:</label
        >
        <img
          id="stego-image"
          src="{{stego_image_path}}"
          alt="Stego Image"
          class="shadow rounded w-full"
        />
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
