{% extends 'index.html' %} {% block title %}Extract Message{% endblock %}
{%block content %}
<script>
  function previewImage(input) {
    const preview = document.getElementById("image-preview");
    const placeholder = document.getElementById("placeholder");

    const file = input.files[0];

    if (file) {
      preview.src = URL.createObjectURL(file);
      preview.classList.remove("hidden");
      placeholder.classList.add("hidden");
    } else {
      preview.src = "";
      preview.classList.add("hidden");
      placeholder.classList.remove("hidden");
    }
  }
</script>
<div class="center-container mt-32">
  <div
    class="container mx-auto p-9 bg-white rounded-md shadow-md border border-slate-200"
  >
    <div class="flex justify-center items-center mx-auto mb-4">
      <a
        href="./embed"
        class="rounded-l-md bg-blue-900 w-48 h-12 px-3.5 py-2.5 text-md font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-center"
      >
        Embed
      </a>
      <a
        href="./extract"
        class="rounded-r-md bg-blue-800 w-48 h-12 px-3.5 py-2.5 text-md font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-center"
      >
        Extract
      </a>
    </div>
    <h1 class="text-2xl font-bold mb-4 text-center">Extract Message</h1>
    <!-- <div class="flex flex-col mb-4"> -->
    <div class="flex items-center justify-center h-auto w-auto">
      <input
        type="file"
        id="image-input"
        class="hidden"
        onchange="previewImage(this)"
      />
      <img
        id="image-preview"
        class="hidden"
        style="max-width: 30%; max-height: 30%; margin-top: 10px"
      />
      <div
        id="placeholder"
        class="flex items-center justify-center h-64 w-64 rounded-lg border border-gray-300 bg-gray-50 placeholder-gray-400"
      >
        <h3 class="text-gray-500 text-center">Insert Image</h3>
      </div>
    </div>
    <form
      id="extract-form"
      action="/extract"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="image-input" class="block text-gray-700 font-bold mb-2">
        Stego Image:
      </label>
      <input
        input
        type="file"
        name="file"
        class="w-full p-1 border border-gray-200 rounded-md"
        accept="image/*"
        onchange="previewImage(this)"
      />
      <!-- </div> -->

      <div class="flex flex-col mb-4">
        <label for="message-input" class="block text-gray-700 font-bold mb-2">
          Secret Message:
        </label>
        {% if decoded_message %}
        <div class="flex flex-col mb-4">
          <textarea
            id="message-output"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            rows="10"
            readonly
          >
{{ decoded_message }}</textarea
          >
        </div>
        {% endif %}
      </div>

      <button
        class="justify-center rounded-md bg-blue-900 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        onclick="extractMessage()"
      >
        Extract Message
      </button>
    </form>
  </div>
</div>
{% endblock %}
